*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Sarpanch", sans-serif;
  line-height: 1.4;
}

a,
input[type=submit] {
  text-decoration: none;
  border-radius: 0.5rem;
  transition: all 0.2s ease-in-out;
  font-size: 1.8rem;
}

li {
  list-style: none;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

input,
fieldset,
textarea {
  border: none;
  background: none;
  outline: none;
  border-radius: 0.5rem;
}

p {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

button {
  color: white;
  background: none;
  border: none;
  font-size: 1.5rem;
}

:root {
  font-size: 10px;
}

.overlay {
  position: relative;
  z-index: 9;
}
.overlay::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 9;
}

.padd {
  padding: 5rem 2rem;
}

.link-hover {
  padding: 1rem 2rem;
  font-size: 2rem;
  align-self: start;
  display: flex;
  align-items: center;
  gap: 1rem;
  position: relative;
  z-index: 1;
}
.link-hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transform: scaleX(0.3);
  transform-origin: left;
  background-color: rgb(254, 84, 26);
  z-index: -1;
  transition: transform 0.25s ease-in-out;
}
.link-hover:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}
.link-hover i {
  transform: rotate(-45deg);
  transition: transform 0.4s ease-in-out;
}
.link-hover:hover i {
  transform: rotate(0);
}

.content-limit {
  display: flex;
  justify-content: center;
}
.content-limit > div:first-child {
  max-width: 1400px;
}

.header {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(6, 21, 28);
  padding: 1rem 1.5rem;
}
.header__logo {
  color: rgb(254, 84, 26);
  font-weight: 700;
  font-size: 2.5rem;
}
.header__nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  position: fixed;
  top: 0;
  right: 50%;
  transform: translateX(-50%) translateY(-6rem) scaleY(0);
  transform-origin: top;
  background-color: rgb(6, 21, 28);
  padding: 2rem 4rem;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  transition: transform 0.25s ease-in-out;
  z-index: 10;
}
.header__nav a {
  color: rgb(255, 255, 255);
}
.header__nav a:hover {
  color: rgb(254, 84, 26);
}
.header .display-nav {
  transform: translateX(50%) translateY(6rem) scaleY(1);
  transform-origin: top;
}
.header__hamburger {
  height: 1.5rem;
  width: 3rem;
  transform: rotate(-45deg);
  cursor: pointer;
  transition: all 0.25s ease-in-out;
  position: fixed;
  top: 2rem;
  right: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.3rem;
  z-index: 11;
}
.header__hamburger:hover .line-1 {
  width: 50%;
}
.header__hamburger:hover .line-3 {
  width: 100%;
}
.header__hamburger div {
  height: 3px;
  background-color: rgb(254, 84, 26);
  transition: all 0.25s ease-in-out;
}
.header__hamburger .line-1 {
  width: 100%;
}
.header__hamburger .line-2 {
  width: 70%;
}
.header__hamburger .line-3 {
  width: 50%;
}
.header .hamburger-toggled {
  transform: rotate(0);
}
.header .hamburger-toggled:hover .line-1, .header .hamburger-toggled:hover .line-3 {
  width: 75%;
}
.header .line-1-toggled {
  transform: rotate(45deg) translateX(0.6rem) translateY(0.5rem);
  width: 75%;
}
.header .line-2-toggled {
  transform: scale(0);
}
.header .line-3-toggled {
  transform: rotate(-45deg) translateX(0.4rem) translateY(-0.2rem);
  width: 75%;
}

.hero {
  background-image: url("../images/hero-bg.jpg");
}
.hero__content {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.hero__content div {
  display: flex;
  flex-direction: column;
  gap: 6rem;
}
.hero__content--title {
  font-size: 7rem;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 0.9;
  font-weight: 900;
}
.hero__content--title span:first-child {
  color: rgb(254, 84, 26);
  display: block;
}
.hero__content--link {
  color: rgb(255, 255, 255);
  text-transform: uppercase;
}

@media screen and (min-width: 500px) {
  .padd {
    padding: 5rem 4rem;
  }
  .header {
    padding: 1rem 2rem;
  }
  .header__nav {
    transform: scale(1);
    position: static;
    border: none;
    padding-left: 0;
    padding-right: 0;
    flex-direction: row;
  }
  .header__hamburger {
    display: none;
  }
  .hero__content--title span:first-child {
    display: inline;
  }
}
@media screen and (min-width: 800px) {
  .hero__content {
    flex-direction: row;
    align-items: center;
  }
  .hero__content > div {
    flex-basis: 60%;
  }
  .hero__content--title {
    font-size: 12rem;
  }
}
@media screen and (min-width: 1000px) {
  .padd {
    padding: 5rem 8rem;
  }
  .header {
    padding: 1.5rem 4rem;
  }
  .header__nav a {
    font-size: 2rem;
  }
  .hero__content--title {
    transform: rotate(-10deg);
  }
  .hero__content--title span:last-child {
    margin-left: 15rem;
  }
}
@media screen and (min-width: 1400px) {
  .hero__content--title {
    transform: rotate(0);
    font-size: 15rem;
  }
  .hero__content--title span:last-child {
    margin-left: 0;
  }
}

/*# sourceMappingURL=main-style.css.map */
