@use "../general-styles/colors" as clr;
@use "../general-styles/typography" as type;

@media screen and (min-width: 500px){
  // ----------------------------------- Utility classes
  .padd {
    padding: 5rem 4rem;
  }

  .card-links-container {
    flex-direction: row;
    gap: 2rem;
  }

  // ----------------------------------- header
  .header {
    padding: 1rem 2rem;

    &__nav {
      transform: scale(1);
      position: static;
      border: none;
      padding-left: 0;
      padding-right: 0;

      flex-direction: row;
    }

    &__hamburger {
      display: none;
    }
  }

  // ----------------------------------- hero
  .hero {
    &__content {
      &--title {
        span:first-child {
          display: inline;
        }
      }
    }
  }

  // ----------------------------------- Trainer
  .trainer {
    &__content {
      &--card {
        gap: 4rem;
      }
    }
  }

  // ----------------------------------- Features
  .features {
    &__content {
      &--cards {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, min-content);

        &__card:nth-child(2n+1) {
          border-left: 3px solid clr.clrs(clr-primary);
        }
      }
    }
  }

  // ----------------------------------- pricing
  .pricing {
    &__content {
      &--plans {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, min-content);
      }
    }
  }

  // ----------------------------------- contact
  .contact {
    &__content {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, min-content);
      gap: 5rem 1rem;

      &--titles {
        grid-column: 1/-1;
        grid-row: 1/2;
      }

      &--info {
        grid-column: 1/2;
        grid-row: 2/3;
      }

      &--form {
        grid-column: 2/-1;
        grid-row: 2/3;
      }
    }
  }

  // ----------------------------------- footer
  .footer {
    &__content {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(4, min-content);

      &--logo {
        grid-column: 1 / -1;
        grid-row: 1 / 2;
      }

      &--programs {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
      }
      &--links {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
      }
      &--newsletter {
        grid-column: 1 / -1;
        grid-row: 3 / 4;
      }
      &--social {
        grid-column: 1 / -1;
        grid-row: 4 / 5;
      }

    }
  }
}
