@use "../general-styles/colors" as clr;
@use "../general-styles/typography" as type;

@media screen and (min-width: 500px){
  // ----------------------------------- Utility classes
  .padd {
    padding: 5rem 4rem;
  }

  // ----------------------------------- header
  .header {
    padding: 1rem 2rem;

    &__nav {
      transform: scale(1);
      position: static;
      border: none;
      padding-left: 0;
      padding-right: 0;

      flex-direction: row;
    }

    &__hamburger {
      display: none;
    }
  }

  // ----------------------------------- hero
  .hero {
    &__content {
      &--title {
        span:first-child {
          display: inline;
        }
      }
    }
  }
}
