@use "../general-styles/colors" as clr;
@use "../general-styles/typography" as type;

@media screen and (min-width: 800px){
  // ----------------------------------- Utility classes
  .sec-title {
    span {
      display: inline-block;
      word-spacing: 2px;
    }
  }

  // ----------------------------------- hero
  .hero {
    &__content {
      flex-direction: row;
      align-items: center;

      & > div {
        flex-basis: 60%;
      }

      &--title {
        font-size: 12rem;
      }
    }
  }

  // ----------------------------------- gallery
  .gallery {
    &__content {
      display: grid;
      grid-template-columns: repeat(2, 1fr);

      &--img:last-child {
        grid-column: 1/-1;
      }
    }
  }
}
