@use "../general-styles/colors" as clr;
@use "../general-styles/typography" as type;

@media screen and (min-width: 800px){
  // ----------------------------------- hero
  .hero {
    &__content {
      flex-direction: row;
      align-items: center;

      & > div {
        flex-basis: 60%;
      }

      &--title {
        font-size: 12rem;
      }
    }
  }
}
