@use "../general-styles/colors" as clr;
@use "../general-styles/typography" as type;

.overlay {
  position: relative;
  z-index: 9;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0 0 0/ .75);
    z-index: 9;
  }
}
